<template>
  <div>
    <div v-show = "isLoading" class="col-xs-12 text-center">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        <span> Thanks for using our services. &nbsp;&nbsp;Gathering {{state}} loads...</span>
        <br> <br>
    </div>

    <div class="tablecontain" v-if="lotsOfRecords">
      <label for="filterLabel">Filter By</label>
      <select id="filterLabel" name="select" v-model="selectedFilter">
        <template v-for="column in filters">
            <option :key="column.field" :value="column.header">{{ column.header }}</option>
        </template>
      </select>
      <span v-if="selectedFilter">
        <label for="filteredText" class="hidden">{{ selectedFilter }}</label>
        <input id="filteredText" type="text" name="textfield" v-model="filterOnText"/>
        <a href="#" @click="clearFilters()"><img src="/imgs/if_filter_16x16.ico"></a>
      </span>
    </div>

    <div v-show = "!isLoading" class="col-xs-12">
        <table  class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th v-for="header in headers" @click="sort(header.field)">
                        <i class="fa" v-if="currentSort.indexOf(header.field) != -1" :class="'ASC'==currentSortDirection ? 'fa-caret-square-o-up' : 'fa-caret-square-o-down'"></i>
                        {{header.header}}
                    </th>
                </tr>
            </thead>
            <tbody v-for="load in filteredData()"> 
                <tr>
                    <button id="orderNo" type="button" class="btn btn-default" @click="modalIsVisible=true;orderClicked(load)">{{load.ORDERNO}}</button>
                    <td>{{load.ORPDAT | date }} {{ ourTime(load.ORPTIM) }}</td>
                    <td>{{load.ORAPDT | date }} {{ ourTime(load.ORAPTM) }}</td>
                    <td>{{load.ORGCITY}}, {{load.OROST}}</td>
                    <td>{{load.DESTCITY}}, {{load.ORDST}}</td>
                    <td>{{load.ORDDAT | date }}</td>
                    <td align="center">{{ ourStops(load.ORSTOPS) }}</td>
                    <td align="center">{{ ourWeight(load.ORWGT) }}</td>
                    <td align="center">{{load.ORMILE}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div align="center">
        <paginate v-if="letsPaginate==true" :initialPage="startPage" :pageCount="noofPages" :containerClass="'pagination'" :clickHandler="paginatedLoads"></paginate>
    </div>
    <modal :showModal="modalIsVisible" :closeAction="closeDialog">
        <h3 slot="header" align="center">Contact us for this order</h3>
        <span slot="body">
            <p><strong>Order#:</strong>&nbsp;&nbsp;{{orderNo}}</p>
            <p><strong>Phone:</strong>&nbsp;&nbsp;800-555-5555</p>
            <p><strong>Email:</strong>&nbsp;&nbsp;<a :href="'mailto:yourloads@yourself.com?subject=PPO Loads - order#: '+orderNo">ppoloads@ourt.com</a></p>
        </span>
        <button slot="footer" type="button" class="btn btn-green" @click="closeDialog" aria-label="Close modal">Close</button>
    </modal>
  </div>
</template>

<script>
    import moment from 'moment';
    import Modal from 'modal-vue';
    import Paginate from 'vuejs-paginate';

    export default {
        props: ['state', 'showModal', 'closeAction', 'orderNo'],
        components: { Modal, Paginate },
        data: function() {
            return {
                loads: [],
                displayedLoads: [],
                isLoading: true,
                show: true,
                modalIsVisible: false,
                lotsOfRecords: false,
                letsPaginate: false,
                recsPerPage: 10,
                noofPages: 0,
                startPage: 0,
                currentSort: 'ORPDAT',
                currentSortDirection: 'ASC',
                filterOnText: '',
                selectedFilter: '',
                headers: [
                    { header: 'Order#',       field: 'ORDERNO'  },
                    { header: 'Early Pickup', field: 'ORPDAT'   },
                    { header: 'Late Pickup',  field: 'ORAPDT'   },
                    { header: 'Origin',       field: 'ORGCITY'  },
                    { header: 'Destination',  field: 'DESTCITY' },
                    { header: 'Delivery',     field: 'ORDDAT'   },
                    { header: 'Stops',        field: 'ORSTOPS'  },
                    { header: 'Weight',       field: 'ORWGT'    },
                    { header: 'Distance',     field: 'ORMILE'   }
                ],
                filters: [
                    { header: 'Origin',       field: 'ORGCITY'  },
                    { header: 'Destination',  field: 'DESTCITY' },
                    { header: 'Stops',        field: 'ORSTOPS'  },
                    { header: 'Weight',       field: 'ORWGT'    },
                    { header: 'Distance',     field: 'ORMILE'   }
                ]
            };
        },
        mounted() {
            var self = this;
            this.update();
        },
        methods: {
            refreshTime: function() {
                var today = new Date();
                document.getElementById('refreshtime').innerHTML = '<h5><a href="#" onclick="window.location.reload(true);"><span class="glyphicon glyphicon-refresh"></span></a> Last refresh time: <strong>' + today.toLocaleTimeString() + '</strong></h5>';
            },
            filteredData() {
                if (this.selectedFilter !== '') {
                    //console.log('Filtered data:' + this.selectedFilter);
                    if (this.filterOnText != '') {
                        let filterData = new RegExp(this.filterOnText, 'i');
                        //console.log('text to filter on:' + this.filterOnText);
                        let filterField = '';
                        for (var i in this.filters) {
                            //console.log('i:'+i+' filter[i].header:'+this.filters[i].header);
                            if (this.filters[i].header == this.selectedFilter) {
                                filterField = this.filters[i].field;
                                //console.log('Corresponding field:' + filterField + ' ' + typeof 'filterField');
                                break;
                            }
                        }
                        this.letsPaginate = false;
                        this.displayedLoads = this.loads.filter( val => val[filterField].match(filterData) );
                    } 
                }
                return this.displayedLoads;
            },
            clearFilters() {
                this.selectedFilter = "";
                this.filterOnText = '';
                this.letsPaginate = this.lotsOfRecords;
                location.reload(true); //need to refresh the pagination widget if not on page 1
                this.update();
            },
            sort(field) {
                //if (this.loads.length > this.recsPerPage) {
                    this.currentSortDirection = (this.currentSortDirection == 'ASC' && this.currentSort.indexOf(field) != -1) ? 'DESC' : 'ASC';
                    this.currentSort = field;
                    this.update();                 
                //}
            },
            paginatedLoads: function(page) {
                if (isNaN(page)) {
                    page = 0;
                }
                var start = parseInt(page-1) * this.recsPerPage;
                var end = start + this.recsPerPage;
                //console.log('Start: ' + start + ' End: '+ end)
                this.displayedLoads = this.loads.slice(start, end);
            },
            orderClicked: function(order) {
                this.orderNo = order.ORDERNO;
                this.modalIsVisible = true;
            },
            closeDialog() {
                this.modalIsVisible = false;
            },
            ourTime: function(ourtime) {
                return moment(ourtime, 'HHmm').format('h:mm A');
            },
            ourWeight: function(value) {
                value = Number(value);
                return value > 1 && value <= 48000 ? value.toString() : ''
            },
            ourStops: function(value) {
                value = Number(value);
                return value == 0 ? '' : value.toString();
            },
            update() {
                this.isLoading = true;
                //console.log('State:'+this.state+' sort:'+this.currentSort+' direction:'+this.currentSortDirection);
                axios.get('/api/load/ppostate', {
                        params: {
                            state: this.state,
                            sort: this.currentSort,
                            direction: this.currentSortDirection
                        }
                     })
                     .then(response => {                    
                        this.loads = response.data;
                        this.isLoading = false;
                        this.show = false;
                        this.selectedFilter = "";
                        let Mexico = /(.*)MX$/;
                        for (var i=0, len=this.loads.length; i<len; i++) {
                            // We only drive as far as the border
                            if ( Mexico.test(this.loads[i].ORDST) ) {
                                this.loads[i].ORDST = 'TX';
                                this.loads[i].DESTCITY = 'SomeTown';
                            }
                            if ( Mexico.test(this.loads[i].OROST) ) {
                                this.loads[i].OROST = 'TX';
                                this.loads[i].ORGCITY = 'SomeTown';
                            }
                        }
                        if (this.loads.length > parseInt(this.recsPerPage)) {
                            this.noofPages = Math.floor( parseInt(this.loads.length) / parseInt(this.recsPerPage) ) + 1;
                            this.lotsOfRecords = true;
                            this.letsPaginate = true;
                            this.initialPage = 0;
                            this.displayedLoads = this.loads.slice(this.initialPage, this.recsPerPage);
                        } else {
                            this.displayedLoads = this.loads;
                            //console.log('Noof recs: ' + this.displayedLoads + ' is < ' + this.recsPerPage + ' records. No pagination');
                        }
                        //console.log('Noof recs: ' + displayedLoads.length() );
                        this.refreshTime();
                     })
                     .catch(error => {                    
                        this.isLoading = false;
                     });
            }
        }
    }

</script>
