<template>
  <div>
    <div>
        <table class="table" border="0">
            <tr>
                <td width="40%">&nbsp;</td>
                <td width="35%">Total number of Loads : <strong>{{total}}</strong></td>
                <td><div id="refreshtime"></div></td>
            </tr>
        </table>
    </div>
    <div>
        <div id="PPOLoadsData" class="col-xs-3 col-md-3">
            <table class="table" style="width:33%; float:left; font-size:80%; font-weight:bold;border-style:double;">
                <thead>
                    <tr>
                        <th>Origin<br> State</th>
                        <th>Load<br> Count</th>
                    </tr>
                </thead>
                <tbody>
                <tr v-for="order in getPPOLoadsAM()" align="center">
                        <td align="center"><a v-bind:href="'/load/ppo/'+order.OROST">{{order.OROST}}</a></td>
                        <td align="center"><a v-bind:href="'/load/ppo/'+order.OROST">{{order.NOOFLOADS}}</a></td>
                    </tr>
                </tbody>
            </table>
            <table class="table" style="width:33%; float:left; font-size:80%; font-weight:bold;border-style:double;">
                <thead>
                    <tr>
                        <th>Origin<br> State</th>
                        <th>Load<br> Count</th>
                    </tr>
                </thead>
                <tbody>
                <tr v-for="order in getPPOLoadsNZ()" align="center">
                        <td align="center"><a v-bind:href="'/load/ppo/'+order.OROST">{{order.OROST}}</a></td>
                        <td align="center"><a v-bind:href="'/load/ppo/'+order.OROST">{{order.NOOFLOADS}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="PPOLoadsMap" class="col-xs-9 col-md-9" style="position:relative; right: 0px; height:500px;"></div>
    </div>
  </div>
</template>

<script>
  import * as Datamap from 'datamaps';

  export default {
      data: function() {
        return {
            orders: [],
            total: 0
        };
      },
      mounted() {
          this.construct();
      },
      methods: {
        refreshTime: function() {
            var today = new Date();
            document.getElementById('refreshtime').innerHTML = '<a href="#" onclick="window.location.reload(true);"><span class="glyphicon glyphicon-refresh"></span></a> Last refresh time: <strong>' + today.toLocaleTimeString() + '</strong>';
        },
        construct() {
           axios.get('/api/load/ppo')  // through api.php
                .then( (response) => { 
                        this.orders = response.data;

                        // orders fix for MX state (Mexico -> Laredo,TX)
                        var index = -1;
                        for (var i=0, len=this.orders.length; i<len; i++) {
                            if (this.orders[i].OROST == 'MX') {
                                index = i;
                                // add loads to TX ...
                                for (var j=0, len=this.orders.length; j<len; j++) {
                                    if (this.orders[j].OROST == 'TX') {
                                        this.orders[j].NOOFLOADS = parseInt(this.orders[j].NOOFLOADS) + parseInt(this.orders[i].NOOFLOADS);
                                    }
                                }
                            }
                        }
                        // ... and remove the MX entry
                        if (index > -1) {
                            this.orders.splice(index, 1);
                        }

                        //some Eastcoast states are so small it's hard to distinguish them on the map, hence their
                        //name is still shown (not overwritten) when no loads are available
                        var stateMap = {
                                'AL': ' ' , 'MT': ' ' , 'AK': ' ', 'NE': ' ' , 'AZ': ' ' , 'NV': ' ', 'AR': ' ' , 'NH': 'NH',
                                'CA': ' ' , 'NJ': 'NJ', 'CO': ' ', 'NM': ' ' , 'CT': 'CT', 'NY': ' ', 'DE': 'DE', 'NC': ' ',
                                'FL': ' ' , 'ND': ' ' , 'GA': ' ', 'OH': ' ' , 'HI': 'HI', 'OK': ' ', 'ID': ' ' , 'OR': ' ',
                                'IL': ' ' , 'PA': ' ' , 'IN': ' ', 'RI': 'RI', 'IA': ' ' , 'SC': ' ', 'KS': ' ' , 'SD': ' ',
                                'KY': ' ' , 'TN': ' ' , 'LA': ' ', 'TX': ' ' , 'ME': ' ' , 'UT': ' ', 'MD': 'MD', 'VT': 'VT',
                                'MA': 'MA', 'VA': ' ' , 'MI': ' ', 'WA': ' ' , 'MN': ' ' , 'WV': ' ', 'MS': ' ' , 'WI': ' ',
                                'MO': ' ' , 'WY': ' ' , 'DC': 'DC'
                        };

                        let total = 0;
                        for (var i=0, len=this.orders.length; i<len; i++) {
                            this.total += parseInt(this.orders[i].NOOFLOADS);
                            if (stateMap[this.orders[i].OROST] != ' ') {
                                // 'petite' east coast states
                                stateMap[this.orders[i].OROST] += (' - ' + this.orders[i].NOOFLOADS);  // NJ - 5
                            } else {
                                stateMap[this.orders[i].OROST] = this.orders[i].NOOFLOADS;
                            }
                        };

                        var ppo_map = new Datamap({
                            element: document.getElementById("PPOLoadsMap"),
                            scope: 'usa',
                            projection: 'equirectangular',
                            geographyConfig: {
                                highlightFillColor: '#c0c0c0',
                                highlightBorderColor: '#c41230',
                                highlightBorderWidth: 2,
                            },
                            fills: {
                                defaultFill: '#95a5a6'
                            },
                            done: function(datamap) {
                                    datamap.svg.selectAll('.datamaps-subunit')
                                               .on('click', function(geography) {
                                                   // click on a US state (referred to as 'geography')
                                                   // geography.id = AR - geography.properties.name = Arkansas
                                                   //alert(geography.id + '-' + geography.properties.name);
                                                   window.location.href = '/load/ppo/' + geography.id;
                                    });
                            }
                        });
                        ppo_map.labels({'customLabelText': stateMap});
                        this.refreshTime();
                }) // response promise
                .catch(function (error) { console.log(error.response.data); });
        },
        getPPOLoadsAM() {
           return this.orders.filter(order => {
                return order.OROST.match(/^[A-M].*/);
           });
        },
        getPPOLoadsNZ() {
           return this.orders.filter(order => {
                return order.OROST.match(/^[N-Z].*/);
           });
        }
    }
  }
</script>
